= simple_form_for(@book_bag, html: {class: "form-horizontal"}) do |f|
  = f.error_notification

  = f.input :global_id, required: true, label: "Internal ID"
  = f.input :classroom_id, collection: Classroom.all, value_method: :id, label_method: :name, required: true
  = f.button :submit, class: "btn-primary"
