= simple_form_for @classroom do |f|
  = f.error_notification

  = f.input :name, required: true
  = f.input :school_id, collection: School.all, value_method: :id, label_method: :name, required: true

  .form-actions
    = f.button :submit, class: "btn-primary"
