= form_for @classroom do |f|
  - if @classroom.errors.any?
    #error_explanation
      %h2= "#{pluralize(@classroom.errors.count, "error")} prohibited this classroom from being saved:"
      %ul
        - @classroom.errors.full_messages.each do |msg|
          %li= msg
  = f.label :name
  = f.text_field :name
  = f.label :school
  = f.collection_select :school, School.all, :id, :name

  .actions
    = f.submit 'Save'
