%section
  %h2= "Plans"
  = link_to "Create Plan", new_classroom_plan_path(classroom), class: "btn btn-success btn-xs"

  - if plans.blank?
    %p There are no plans. Might you want to create one?
  - else
    %table.table.table-responsive
      %tr
        %th
        - plans.each do |plan|
          %th= plan.name || plan.created_at
      - students.each do |s|
        %tr
          %th= s.full_name
          - plans.each do |plan|
            %td= plan.assignments.where(student_id: s.id).try(:first).try(:book_bag).try(&:global_id)
      %tr
        %td
        - plans.each do |plan|
          %td
            = button_to "Delete", plan_path(plan), method: "delete", class: "btn btn-xs btn-danger", confirm: "Are you sure?"
            = link_to "Edit", edit_plan_path(plan), class: "btn btn-xs btn-notice"

