%p#notice= notice

%h1= "Classroom: #{@classroom.name}"

= render partial: "plan_matrix", locals: { classroom: @classroom, plans: @plans, students: @students }
= render partial: "students", locals: { classroom: @classroom, plans: @plans, students: @students }
= render partial: "book_bags", locals: { classroom: @classroom, plans: @plans, students: @students, book_bags: @book_bags }

= link_to 'Edit', edit_classroom_path(@classroom)
