= simple_form_for(@student, html: {class: "form-horizontal"}) do |f|
  = f.error_notification

  = f.input :first_name, required: true
  = f.input :last_name, required: true
  = f.input :classroom_id, collection: Classroom.all, value_method: :id, label_method: :name, required: true

  .form-actions
    = f.button :submit, class: "btn-primary"


