= simple_form_for(@plan, html: { 'js-validate-dedupe': true }) do |f|
  = f.error_notification
  .form-inputs

    = f.simple_fields_for :period do |pf|
      = pf.input :name
      = pf.input :classroom_id, as: :hidden

    .form-group
      %table.table.table-responsive
        %thead
          %tr
            %th Name
            %th{:data => {:extractor => "select-text"}} Book Bag
        %tbody
          = f.simple_fields_for :assignments do |af|
            %tr{:data => {:student_id => af.object.student_id}}
              %td.student-name
                = af.object.student.try(:full_name)
                = af.input :student_id, as: :hidden
              %td
                = af.association :book_bag,
                  collection: @classroom.book_bags.active.by_global_id,
                  label_method: :global_id,
                  label: false,
                  required: true

  .form-actions
    = f.button :submit, class: "btn-primary"
