= simple_form_for(@plan) do |f|
  = f.error_notification
  .form-inputs
    = f.label :classroom_id
    = f.text_field :classroom_id
    = f.simple_fields_for :assignments do |af|
      .form-group
        = af.label :student_id
        = af.text_field :student_id
        = af.label :book_bag_id
        = af.text_field :book_bag_id

  .form-actions
    = f.button :submit
