!!!
%html{:lang => "en"}
  %head
    %title Storybook
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %body
    - if sandboxed?
      .container
        .row
          .alert.alert-info.text-center{ role: :alert }
            ⚠️
            ⚠️
            ⚠️
            ⚠️
            ⚠️
            ⚠️
            %div
              %strong Warning! This is the SANDBOX environment. The data in this environment is for testing, only!
            ⚠️
            ⚠️
            ⚠️
            ⚠️
            ⚠️
            ⚠️
            ⚠️
    .container
      .row
        .col-xs-12
          %nav.navbar.navbar-default{:role => "navigation"}
            .container-fluid
              .navbar-header
                %button.navbar-toggle.collapsed{:type => :button, :data => {:toggle => :collapse, :target => "#collapsed-navbar"}}
                  %span.sr-only Toggle navigation
                  %span.icon-bar
                  %span.icon-bar
                  %span.icon-bar
                = link_to(root_url, class: "navbar-brand") do
                  %span.glyphicon.glyphicon-book{:"aria-hidden" => true}
                  Storybook
              #collapsed-navbar.collapse.navbar-collapse
                %ul.nav.navbar-nav.navbar-right
                  %li= link_to "Schools", schools_path
                  %li= link_to "Classrooms", classrooms_path
      .row
        .col-xs-12
          - if flash[:notice]
            .alert.alert-success
              = flash[:notice]
              %button.close{:type => "button", :"data-dismiss" => "alert"}
                %span{:"aria-hidden" => "true"} &times;
                %span.sr-only Close
          - elsif flash[:alert]
            .alert.alert-warning
              = flash[:alert]
              %button.close{:type => "button", :"data-dismiss" => "alert"}
                %span{:"aria-hidden" => "true"} &times;
                %span.sr-only Close
          = yield
